{% extends "base.html" %}

{% block head %}
{{ super() }}
    <title>{% block windowtitle %}{{ SITENAME }} - Archives{% endblock %}</title>
{% endblock %}

{% block content %}
{% block content_title %}
<h1>Archives</h1>
{% endblock %}

 {% for year, year_group in dates|groupby('date.year')|reverse %}
 {% for month, month_group in year_group|groupby('date.month')|reverse %}
     <h4 class="date">{{ (month_group|first).date|strftime('%b %Y') }}</h4>
     <div class="post archives">
     <ul>
         {% for article in month_group %}
             <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
         {% endfor %}
     </ul>
     </div>
 {% endfor %}
 {% endfor %}

{% endblock %}
